* {
    margin: 0;
}

body {
    text-align: center;

}

header{
    margin: 15px;
}

input {
   margin: 30px; 
   padding: 10px;
   font-size: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    padding: 100px;

}

.beer_menu {
    border: 1px solid black;
    display: grid;
    justify-items: center;

    >img {
        height: 20rem;
        width: auto;
    }
}