* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    text-align: center;
}

header {
    margin: 15px;
}

button {
    margin-bottom: 5rem;
}

input {
    margin: 30px;
    padding: 10px;
    font-size: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 100px;

}

.beer_menu {
    border: 1px solid black;
    display: grid;
    justify-items: center;

    >img {
        height: 20rem;
        width: auto;
    }
}

div.prevNext {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 400px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
}