* {
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    text-align: center;

    >header {
        padding-right: 120px;
    }

    >footer {
        padding-left: 120px;
    }
}


#info_beer {
    display: grid;
    grid-template-areas:
        "item1 item2"
    ;
    align-items: center;
    text-align: center;

    >img {
        height: 40rem;
        width: 100%;
    }
}

.beer {
    display: grid;
    justify-items: center;
    width: 714px;

    >div.info {
        display: grid;

    }
}


@media screen and (max-width: 1400px) {}