* {
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
}


#info_beer {
    display: grid;
    grid-template-areas:
        "item1 item2"
    ;

    >img {
        height: 40rem;
        width: 100%;
    }
}

.beer {
    display: grid;
    justify-items: center;
    width: 714px;
}


@media screen and (max-width: 1400px) {}